body{
width:850px;
margin-right: auto;
margin-left : auto;
  background-image: url(img/back.webp);
  background-size: 406px,271px;

background-repeat: repeat;


}



.ヘッダー {
   text-align:center;
}






    .Main {
        background-color: #EBEBEB;
  width: 0w;

         border: 4px red;
           border-style: outset;
       margin-bottom: 20px;



    }





ul#chtati a {
    display: block;
    width: 242px;
    height: 242px;
    text-indent:-9999px;
    overflow: hidden;
    border: 0;



    }

a.star_ch{ background-image:url(img/Starkaruchanneru.png) }
a:hover.star_ch{ background-position:0px -242px }

a.star_subch{ background-image:url(img/Starkaru-sbu.png) }
a:hover.star_subch{ background-position:0px -242px }

#chtati li {
    display: inline;
    float: left;

    padding-left: 0px;

    padding: 0 0px 0 0px;

}

#chtati li {
  width: fit-content;
    margin: auto;
}




    ul {
        display: flex;
        list-style-type: none;
          padding-left:0;

    }






    .Main  {

        background-color: #000000;
    }

        li   {
              list-style:none;
        background-color: #000000;

        
    }